---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Projects" sideBarActiveItemID="projects">
  <section class="py-12">
  <!-- Section Title -->
  <div class="mb-8">
    <h2 class="text-4xl font-bold text-gray-800 mb-2">Projects</h2>
    <p class="text-lg text-gray-600">
      These are the projects where I play a key role in design and development.
    </p>
  </div>

  <!-- Project Introduction Box -->
  <div class="flex flex-col md:flex-row items-center justify-between bg-[#f7f9fb] text-black px-6 py-4 rounded-lg shadow-md mb-8">
    <p class="text-base font-medium">
      I actively contribute to interdisciplinary projects combining recommender systems, LLMs, and graph-based models.
    </p>
  </div>

  <HorizontalCard
    title="LLM for Multimodal Recommendation"
    img="/LLMsurvey.png"
    desc="Leverage power of LLMs for augmenting, generating embedding for Recsys"
    url="#"
    badge="On-going"
    badgeCL="bg-green-600 text-white"

  />
  

  <HorizontalCard
    title="Enhancing News Recommendation with Graph and LLM Prompting"
    img="/HGPrompt.png"
    desc="Leverage power of LLMs with Graph"
    url="#"
    badge="On-going"
    badgeCL="bg-green-600 text-white"

  />

  <HorizontalCard
  title="Keyword-driven Retrieval-Augmented LLMs for Cold-start Recommendations"
  img="/kalm4rec.png"
  desc="Using LLMs for ranking relevant items to Cold-start users."
  url="#"
  badge="Finished"
  badgeCL="bg-orange-700 text-white"
/>

  <div class="divider my-0"></div>



<HorizontalCard
  title="Graph Attention Network for Motor Imagery Classification (2023-2024). Funded by CN-UET."
  img="/GAMI.png"
  desc="Hai-Dang Kieu"
  url="#"
  badge="Finished"
  badgeCL="bg-orange-700 text-white"
    />

<HorizontalCard
  title="EEG & Eye-Tracking Dataset of ALS Patients for Spelling Systems (2020-2023). Funded by VINIF."
  img="/EEGDATA.png"
  desc="Thi Duyen Ngo, Hai Dang Kieu, Minh Hoa Nguyen, The Hoang-Anh Nguyen, Van Mao Can, Ba Hung Nguyen, Thanh Ha Le"
  url="#"
  badge="Finished"
  badgeCL="bg-orange-700 text-white"
/>


</BaseLayout>
