---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Projects" sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Projects Header</div>
  </div>

  <HorizontalCard
    title="Enhancing News Recommendation with Hierarchical LLM Prompting @ WWW 2025"
    img="/Picture3.png"
    desc="Hai-Dang Kieu, Delvin Ce Zhang, Minh Duc Nguyen, Min Xu, Qiang Wu, Dung D Le"
    url="#"
    badge="WWW2025"
    badgeCL="bg-green-600 text-white"

  />
  <div class="divider my-0"></div>
<HorizontalCard
  title="Graph Multimodal Network for Emotion Classification in Incomplete Conversations"
  img="/graph.jpg"
  desc="Nguyen Thi Cam-Van, Hai-Dang Kieu, Duc-Trong Le, Quang-Thuy Ha. NeuroComputing (Q1), 2025."
  url="#"
  badge="NeuroComputing"
  badgeCL="bg-green-600 text-white"
  />

<HorizontalCard
  title="Keyword-driven Retrieval-Augmented LLMs for Cold-start Recommendations"
  img="/kalm4rec.png"
  desc="Hai-Dang Kieu, Minh Duc Nguyen, Thanh-Son Nguyen, Dung D Le. WWW’25 Companion Proceedings."
  url="#"
  badge="LLM4Ecommerce WWW2025"
  badgeCL="bg-green-600 text-white"
  
/>

<HorizontalCard
  title="Graph Attention Network for Motor Imagery Classification"
  img="/GAMI.png"
  desc="Hai-Dang Kieu"
  url="#"
  badge="RIVF 2024"
  badgeCL="bg-orange-700 text-white"
    />

<HorizontalCard
  title="EEG & Eye-Tracking Dataset of ALS Patients for Spelling Systems"
  img="/EEGDATA.png"
  desc="Ngo Thi Duyen, Hai-Dang Kieu, et al. Scientific Data, 2024."
  url="#"
  badge="Nature Scientific Dat"
  badgeCL="bg-orange-700 text-white"
/>


<HorizontalCard
  title="Gaze-Controlled On-Screen Keyboard for ALS Patients"
  img="/EEGDATA.png"
  desc="Nguyen Minh Hoa, Ngo Thi Duyen, Hai-Dang Kieu, et al."
  url="#"
  badge="Technology and Disability 2023"
  badgeCL="bg-orange-700 text-white"
/>

<HorizontalCard
  title="Structural Compact Latent Learning in Sparse Reward Environments"
  img="/post_img.webp"
  desc="Le Bang Giang, Hoang Thi Linh, Hai-Dang Kieu, Ta Viet Cuong."
  url="#"
  badge="ACIIDS 2023"
  badgeCL="bg-orange-700 text-white"
/>


<HorizontalCard
  title="GAT-FP: Imperfect Multimodal Learning via Graph Attention"
  img="/gatfp.jpg"
  desc="Nguyen Van Doan, Nguyen Trong Duc, Hai-Dang Kieu*, et al."
  url="#"
  badge="SoICT 2023"
  badgeCL="bg-orange-700 text-white"
/>

<HorizontalCard
  title="Locally Weighted PCA for Missing Marker Recovery"
  img="/post_img.webp"
  desc="Hai-Dang Kieu, Yu Hongchuan, Zhang Jian Jun, Li Zhuorong."
  url="#"
  badge="PLoS ONE  2022"
  badgeCL="bg-orange-700 text-white"
/>

<HorizontalCard
  title="PCA-Based Robust Motion Recovery"
  img="/post_img.webp"
  desc="Li Zhuorong, Yu Hongchuan, Hai-Dang Kieu, et al."
  url="#"
  badge="IEEE ACCESS 2020"
  badgeCL="bg-orange-700 text-white"
/>

<HorizontalCard
  title="Multitask Reinforcement Learning Experience Sharing"
  img="/post_img.webp"
  desc="Vuong Tung-Long, Nguyen Do-Van, Hai-Dang Kieu, et al. IJCAI 2019."
  url="#"
  badge="IJCAI 2019"
  badgeCL="bg-orange-700 text-white"
/>

<HorizontalCard
  title="Vision Memory for Navigation with Deep RL"
  img="/post_img.webp"
  desc="Nguyen Do-Van, Vuong Tung-Long, Hai-Dang Kieu, et al. IEEE SMC 2018."
  url="#"
  badge="IEEE SMC 2018"
  badgeCL="bg-orange-700 text-white"
/>

</BaseLayout>
