---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Publications" sideBarActiveItemID="publications">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Publications</div>
  </div>

  <HorizontalCard
    title="Enhancing News Recommendation with Hierarchical LLM Prompting"
    img="/Picture3.png"
    desc="Hai-Dang Kieu, Delvin Ce Zhang, Minh Duc Nguyen, Min Xu, Qiang Wu, Dung D Le"
    url="#"
    badge="WWW2025"
    badgeCL="bg-green-600 text-white"

  />
  <div class="divider my-0"></div>
<HorizontalCard
  title="Graph Multimodal Network for Emotion Classification in Incomplete Conversations"
  img="/graph.jpg"
  desc="Nguyen Thi Cam-Van, Hai-Dang Kieu, Duc-Trong Le, Quang-Thuy Ha."
  url="#"
  badge="NeuroComputing 2025"
  badgeCL="bg-green-600 text-white"
  />

<HorizontalCard
  title="Keyword-driven Retrieval-Augmented LLMs for Cold-start Recommendations"
  img="/kalm4rec.png"
  desc="Hai-Dang Kieu, Minh Duc Nguyen, Thanh-Son Nguyen, Dung D Le."
  url="#"
  badge="LLM4Ecommerce WWW2025"
  badgeCL="bg-green-600 text-white"
  
/>

<HorizontalCard
  title="Graph Attention Network for Motor Imagery Classification"
  img="/GAMI.png"
  desc="Hai-Dang Kieu"
  url="#"
  badge="RIVF 2024"
  badgeCL="bg-orange-700 text-white"
    />

<HorizontalCard
  title="EEG & Eye-Tracking Dataset of ALS Patients for Spelling Systems"
  img="/EEGDATA.png"
  desc="Thi Duyen Ngo, Hai Dang Kieu, Minh Hoa Nguyen, The Hoang-Anh Nguyen, Van Mao Can, Ba Hung Nguyen, Thanh Ha Le"
  url="#"
  badge="Nature Scientific Data 2024"
  badgeCL="bg-orange-700 text-white"
/>


<HorizontalCard
  title="Gaze-Controlled On-Screen Keyboard for ALS Patients"
  img="/EEGDATA.png"
  desc="Minh Hoa Nguyen, Thi Duyen Ngo, Nguyen Ba Hung, Can Van Mao, Hai-Dang Kieu, Thanh Ha Le"
  url="#"
  badge="Technology and Disability 2023"
  badgeCL="bg-orange-700 text-white"
/>

<HorizontalCard
  title="Structural Compact Latent Learning in Sparse Reward Environments"
  img="/aciid2023.jpg"
  desc="Le Bang Giang, Hoang Thi Linh, Hai-Dang Kieu, Ta Viet Cuong."
  url="#"
  badge="ACIIDS 2023"
  badgeCL="bg-orange-700 text-white"
/>


<HorizontalCard
  title="GAT-FP: Imperfect Multimodal Learning via Graph Attention"
  img="/gatfp.jpg"
  desc="Nguyen Van Doan, Trong Duc Nguyen, Dat Tran Nguyen, Cam-Van Thi Nguyen, Hai-Dang Kieu, Duc-Trong Le"
  url="#"
  badge="SoICT 2023"
  badgeCL="bg-orange-700 text-white"
/>

<HorizontalCard
  title="Locally Weighted PCA for Missing Marker Recovery"
  img="/ieeaccess20.png"
  desc="Hai-Dang Kieu, Yu Hongchuan, Zhang Jian Jun, Li Zhuorong."
  url="#"
  badge="PLoS ONE  2022"
  badgeCL="bg-orange-700 text-white"
/>

<HorizontalCard
  title="PCA-Based Robust Motion Recovery"
  img="/ieeaccess20.png"
  desc="Zhuorong Li, Hongchuan Yu, Hai Dang Kieu, Tung Long Vuong, Jian Jun Zhang"
  url="#"
  badge="IEEE ACCESS 2020"
  badgeCL="bg-orange-700 text-white"
/>

<HorizontalCard
  title="Multitask Reinforcement Learning Experience Sharing"
  img="/ijcai19.png"
  desc="Tung-Long Vuong, Do-Van Nguyen, Tai-Long Nguyen, Cong-Minh Bui, Hai-Dang Kieu, Viet-Cuong Ta, Quoc-Long Tran, Thanh-Ha Le"
  url="#"
  badge="IJCAI 2019"
  badgeCL="bg-orange-700 text-white"
/>

<HorizontalCard
  title="Vision Memory for Navigation with Deep Reinforcement Learning"
  img="/Picture1.png"
  desc="Do-Van Nguyen, Tung-Long Vuong, Hai-Dang Kieu, Linh Pham, Thanh-Ha Le"
  url="#"
  badge="IEEE SMC 2018"
  badgeCL="bg-orange-700 text-white"
/>

</BaseLayout>
